

.btn{
    color: var(--primario);
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 8px 16px;
    border: 2px solid var(--primario);
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    transition: 0.4s;
}
:hover.btn{
    background-color: white;
    color: var(--primario-claro);
    border: 2px solid white;
    cursor: pointer;  
}
:hover.btn span{
    color:var(--primario) ;
}
.btn-block{
    display: block;
   
}
.relative{
    position: relative;   
}

.absolute{   
    position: absolute;
    top:0;
    right:0;
    background-color: var(--gris);
    border-radius: 50%;
    height:24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75;
  
}
.busqueda div a{
    border:2px solid white;
}
