.valoracion{color: #C5C5C5;}

#figurasonepiece,#figuraskimetsu,#figurasjujutsu,#figurasdragonball,#figurasnaruto,#figurashero{
    margin:0 8px;
}

.card{    
    padding: 8px 16;
    border: 2px solid #DC223A;
    border-radius: 4px;
    margin: 8px;
    background-color: #C5C5C5;
}
 /* .card div img{
    display: inline-block;
    padding:0 64px;
}  */

.valoracion .bi-star{
    margin-right: 8px;
}
.contenido{
    padding: 24px;
}
.contenido div{
    margin-bottom: 24px;
}
