nav{
    background-color: #3A3A3A;
}

li{ list-style: none;
}
nav li{
    
    display: inline-flex;
    justify-content: space-between;
    padding: 16px 32px;
    margin: 0 auto;
    border-radius: 4px;
}
nav a{
    text-decoration: none;
    font-family: 'inter';
    font-weight: bold;
    text-align: center;
}