:root{
  --hue:352;
  --primario:hsl(var(--hue),70%,50%,1);
  --primario-oscuro:hsl(var(--hue),70%, 30%,1);
  --primario-claro:hsl(var(--hue),70%, 60%,1);
   --negro:#0A100D;
   --gris:#D6D5C9;
}
html {
  scroll-behavior: smooth;
}
body{
    color: var(--negro);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
  }
main{
    margin: 8 16px
}
 h1,.h1 {
      margin-top: 16px;
       font-size: 4.209rem;
     }
 h2,.h2 {font-size: 3.157rem;}
 h3,.h3 {font-size: 2.369rem;}
 h4,.h4 {font-size: 1.777rem;}
 h5,.h5 {font-size: 1.333rem;}
small, .text_small {font-size: 0.75rem;}
h1,h2,h3,h4,h5,h6, p{color: var(--negro);
}
a,.m-color{color:var(--primario);}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px;
}
main h1, main h2{
  text-align: center;
}
 
.busqueda{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;

}
.productos{
  display: grid;
  grid-template-columns: repeat(3,auto);
 justify-content: center;
 gap: 16px;
 margin: 8px 16px;
}
.contenedor{
  box-sizing: content-box;
  max-width: 80%;
  margin: 0 auto;
}
.productos-logo{
  display: flex;
 justify-content: center;
 gap: 16px;
 margin: 8px 16px;
 max-width: 100%;
}
.productos-logo img{
  display: inline-flex;
  max-width: 50%;
  padding: 32px;
  background-color: var(--gris);
   
}
.productos h4, .productos h2{
  text-align: center;
}
.producto{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 128px auto;
  max-width: 80%;
  border-bottom: 2px solid var(--gris);
}
.producto img{
  max-width: 100%;  
}
.wrap{
  max-width: 1080px;
  margin: 0 auto;
  padding:16px;
}
.logosinfo{
  display: flex;
  justify-content: space-between;
}
.logosinfo div{
  display: inline-block;
  margin:  8px 16px;
  max-width: 50%;
} 
.logosinfo div div img{
  max-width: 100%;
} 


    
